* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------------*/
/*Definções raizes*/
:root {
  --text-color: rgb(255, 255, 255); /*altera as cores dos textos*/
  --bg-url: url(./background2_moranguinho.png); /*altera o background*/
  --stroke-color: #f5f5f5;
  --surface-color: rgba(182, 179, 179, 0.062);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(207, 207, 207, 0.658);
  --icon-color: #ffffff;
  --iconfooter-color: rgba(
    255,
    255,
    255,
    0.61
  ); /*altera a cor do icone do rodape*/
}

/*fim das Definções raizes*/

body {
  background: var(--bg-url) no-repeat top center/cover; /*vai puxar as informações do root*/
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Fundo do projeto
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
/*----- background: url(./assets/bg-mobile.jpg) no-repeat top center/cover; --- versão resumida*/
/* quando tem o '*' significa que é um seletor universal
para aplicar a todos os elementos do body*/

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  /*border: 1px solid red; /remover depois*/
}
/*margin-right: auto;
margin-left: auto;*/
/*Matem alinhado ao meio de forma automatica*/

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 150px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Links - Lista*/
ul {
  list-style: none; /*Seve para tirar os pontinhos da lista*/
  display: flex; /*usando o Flex vai ocupar 100% do box*/
  flex-direction: column; /*colocar um abaixo do outro*/
  gap: 16px;

  padding: 24px 0;
  /*border: 1px solid red; /remover depois*/
}

ul li a {
  display: flex; /*usando o Flex vai ocupar 100% do box*/
  align-items: center; /*alinhe os elementos no centro*/
  justify-content: center; /*pegou o conteudo e alinhou no meio*/

  padding: 16px 24px;

  background: var(--surface-color); /* cor*/
  border: 1px solid var(--stroke-color); /* cor da borda */
  border-radius: 8px;

  backdrop-filter: blur(4px); /* blur é o embaçado */
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /*serve para tirar a linha do link*/
  font-weight: 500; /*pode usar 500 ou bold, o peso do texto*/

  transition: background 0.2s; /*transição, no caso quer que mexa somente no background*/
}

/* Hover efeito de quando passa o mouse por cima*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--text-color);
}

/* icone --------------------------------*/
ion-icon {
  font-size: 24px; /* mudando de todos os elementos dentro do social links*/
  margin-right: 15px; /* Espaçamento de 2px à direita do ícone */
  color: var(--icon-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
/*coração do rodapé --------------------------------*/
footer ion-icon {
  color: var(--iconfooter-color);
}
